<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/j2ee"
         version="2.5">

    <display-name>Society Portal</display-name>
    <description>A web interface for Society</description>

    <!-- WEB -->
    <welcome-file-list>
        <welcome-file>index.html</welcome-file>
    </welcome-file-list>

    <filter>
        <filter-name>encoding-filter</filter-name>
        <filter-class>org.springframework.web.filter.CharacterEncodingFilter</filter-class>
        <init-param>
            <param-name>encoding</param-name>
            <param-value>UTF-8</param-value>
        </init-param>
        <init-param>
            <param-name>forceEncoding</param-name>
            <param-value>true</param-value>
        </init-param>
    </filter>

    <filter-mapping>
        <filter-name>encoding-filter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

    <!-- UserServlet -->
    <servlet>
        <servlet-name>UserServlet</servlet-name>
        <servlet-class>com.gop.society.portal.servlets.UserServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>UserServlet</servlet-name>
        <url-pattern>/session/user</url-pattern>
    </servlet-mapping>

    <!-- Spring : Application Context loader -->
    <context-param>
        <param-name>contextConfigLocation</param-name>
        <param-value>classpath:META-INF/spring/portal-context.xml</param-value>
    </context-param>
    <listener>
        <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
    </listener>

    <!-- Spring Security       -->
    <filter>
        <filter-name>springSecurityFilterChain</filter-name>
        <filter-class>org.springframework.web.filter.DelegatingFilterProxy</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>springSecurityFilterChain</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

    <!--CORS   -->
    <filter>
        <filter-name>CorsFilter</filter-name>
        <filter-class>com.gop.society.portal.servlets.CorsFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>CorsFilter</filter-name>
        <url-pattern>/portal/css</url-pattern>
        <url-pattern>/portal/partials</url-pattern>
        <url-pattern>/portal/js</url-pattern>
        <url-pattern>/portal/lib</url-pattern>
    </filter-mapping>

    <!-- Proxy Servlet : Society Business-->
    <servlet>
        <servlet-name>society-api</servlet-name>
        <servlet-class>com.gop.society.portal.servlets.ProxyServlet</servlet-class>
        <init-param>
            <param-name>properties</param-name>
            <param-value>portal.properties</param-value>
        </init-param>
        <init-param>
            <param-name>baseRemoteUrlPropKey</param-name>
            <param-value>society.api.rootUrl</param-value>
        </init-param>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>society-api</servlet-name>
        <url-pattern>/api/*</url-pattern>
    </servlet-mapping>


</web-app>
