
<a href="#/organizations/new" class="btn btn-default"><i class="fa fa-plus"></i> New Organization</a>

<div ng-show = "results.data">
    <table class = "col-md-12 table table-bordered table-striped mt1">
        <h2><i>{{results.totalCount}}</i> Organizations(s)</h2>
        <thead>
        <tr>
            <th>Name</th>
            <th>Description</th>
            <th style = "width: 1px">Actions</th>
        </tr>
        </thead>

        <tbody>
        <tr ng-repeat = "o in results.data | orderBy:'name'" ng-class = "{info: selectedIds[o.id]}">
            <td>
                <strong>{{o.name}}</strong>
            </td>
            <td>
                <strong>{{o.description}}</strong>
            </td>
            <td>

            </td>
        </tr>
        </tbody>
    </table>
    <div>
        <pagination
                total-items = "results.totalCount"
                ng-model = "pagination.page"
                max-size = "5"
                items-per-page = "pagination.size"
                class = "pagination-sm"
                boundary-links = "true"
                rotate = "false"
                num-pages = "numPages">
        </pagination>
    </div>
</div>
